<!DOCTYPE html>
<html>
  <head>
    <title>MiniCapstone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <a href="/client/products">Home</a>
    <a href="/client/products/new">New Product</a>
    <br>
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/logout" data-method="delete">Log Out</a>
    <br>
    <a href="/client/carted_products">Cart</a>
    <br>
    <% if @jwt %>
      <h4>You are signed in</h4>
    <% end %>

    <% flash.each do |name, message| %>
      <p><%= message %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
